<br />
<br />
<br />
<br />

<div class="body">
 
  <!-- Modal -->
  <div class="modal fade" id="NewProjectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="NewProjectModalLabel">Add a New Project</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <%= simple_form_for @project do |f| %>
          <div class="modal-body">
            <%= f.input :name %>
            <%= f.input :description %>
            <%= f.submit 'Create', class: 'btn btn-default', id: 'new-project-submit' %>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  
  <br />
  <br />
  
  <% @projects.each do |project| %>
    <div class="row project">
      <h1 class="col-3"><%= project.name %></h1>
      <h3 class="col-3"><%= project.description %></h3>
      <div class="btn-group-lg">
        <button type="button" class="btn btn-default"><%= link_to 'Add Record', new_project_record_path(project) %>
        </button>
        <button type="button" class="btn btn-default summary"><%= link_to 'Summary', project_path(project) %></button>
        <button type="button" class="btn btn-default">Edit Project</button>
      </div>
    </div>
    <hr>
  <% end %>
  
</div>
 