<!DOCTYPE html>
<html>
  <head>
    <title>Timetracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar fixed-top navbar-inverse bg-inverse">
      <h2 class="center light-text">TimeTracker 2018</h2>
      <div class="row">
        <% if user_signed_in? %>
          <h3 class="col light-text"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></h3>
        <% else %>
          <div class="col">
            <h3 class="light-text"><%= link_to 'Sign In', new_user_session_path %></h3>
            <h3 class="light-text"><%= link_to 'Sign Up!', new_user_registration_path %></h3>
          </div>
        <% end %>
        <button type="button" class="btn btn-default" id="new-project" data-toggle="modal" data-target="#NewProjectModal">New Project</button>
      </div>
    </nav>
    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <%= yield %>
    
  </body>
</html>
